version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./sites-available/:/etc/nginx/sites-available
      - ./sites-enabled/:/etc/nginx/sites-enabled
      - ./certs/:/etc/nginx/certs
      - ./www:/var/www/
      - ./log/:/var/log/nginx
    environment:
      TZ: Europe/Berlin
    networks:
      - frontend
      - backend

networks:
  frontend:
    name: frontend
  backend:
    name: backend
